ComputerGraphicEngine/Debug/ComputerGraphicEngine.exe
ComputerGraphicEngine/Debug/ComputerGraphicEngine.ilk
ComputerGraphicEngine/Debug/ComputerGraphicEngine.pdb
ComputerGraphicEngine/ComputerGraphicEngine/Debug/ComputerGraphicEngine.exe.recipe
ComputerGraphicEngine/ComputerGraphicEngine/Debug/ComputerGraphicEngine.log
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Main.obj
ComputerGraphicEngine/ComputerGraphicEngine/Debug/vc142.idb
ComputerGraphicEngine/ComputerGraphicEngine/Debug/vc142.pdb
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/CL.command.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/CL.read.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/CL.write.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/ComputerGraphicEngine.lastbuildstate
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/link.command.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/link.read.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/Debug/Computer.37d49b01.tlog/link.write.1.tlog
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/.suo
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/Browse.VC.db
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/ipch/AutoPCH/7875d0e145649724/MAIN.ipch
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/ipch/AutoPCH/f066752952d0f6d/MAIN.ipch
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/ComputerGraphicEngine.log
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Main.obj
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/vc142.idb
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/vc142.pdb
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/CL.command.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/CL.read.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/CL.write.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/ComputerGraphicEngine.lastbuildstate
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/link.command.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/link.read.1.tlog
ComputerGraphicEngine/ComputerGraphicEngine/x64/Debug/Computer.37d49b01.tlog/link.write.1.tlog
ComputerGraphicEngine/x64/Debug/ComputerGraphicEngine.exe
ComputerGraphicEngine/x64/Debug/ComputerGraphicEngine.ilk
ComputerGraphicEngine/x64/Debug/ComputerGraphicEngine.pdb
ComputerGraphic2020.zip
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/Browse.VC.db-shm
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/Browse.VC.db-wal
ComputerGraphicEngine/.vs/ComputerGraphicEngine/v16/Browse.VC.opendb
ComputerGraphicEngine/ComputerGraphicEngine/untitled2.obj
ComputerGraphicEngine/ComputerGraphicEngine/untitled1.obj
ComputerGraphicEngine/ComputerGraphicEngine/untitled.obj
